@CHARSET "ISO-8859-1";
table {
    border-spacing: 0;
    border-collapse: collapse
}

td, th {
    padding: 0
}
.table {
        border-collapse: collapse !important
    }

    .table td, .table th {
        background-color: #fff !important
    }

    .table-bordered td, .table-bordered th {
        border: 1px solid #ddd !important
    }